beautifulsoup4==4.6.0
celery==4.0.2
codecov==2.0.9
coverage==4.4.1
coveralls==1.1
django==1.11.2
django-crispy-forms==1.6.1
django-parsley==0.6
django-rest-swagger==2.1.2
enum==0.4.6
enum34==1.1.6
factory-boy==2.8.1
flask==0.12.2
flask-restful==0.3.6
flask-swagger==0.2.13
flower
futures
html5lib==0.99
mechanize
nose2
nose-cov
numba
numpy
pandas
pillow
psycopg2
pylint
pymongo==2.8.0
pypdf2
python-coveralls
pytz
redis
reportlab
requests
scipy
selenium
snakefood
Sphinx
tabulate
twine
uwsgi
xhtml2pdf==0.1b2
xlsxwriter
