beautifulsoup4
codecov
coverage
coveralls
django
django-rest-swagger
flask
flask_restful
flask_swagger
futures
html5lib
mechanize
nose2
nose-cov
numpy
pandas
pillow
pylint
pymongo==2.8.0
pypdf2
python-coveralls
pytz
requests
reportlab
scipy
selenium
snakefood
Sphinx
tabulate
twine
xhtml2pdf
xlsxwriter